/* Author: Matt Nguyen
Course: CPSC332
Assignment: Web Project Deliverable 2
Last Modifed: 12.05.2022 */

/* MAIN CSS */
body {
    background-color: #cb997e;
    /* background-image: url(url) */
}   

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 4rem;
}

h2 {
    font-size: 4.2rem;
    color: white;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.center-justify {
    justify-content: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 3.8rem;
    color: white;
    margin-bottom: 1rem;
    background-color: #ddbea9;
    padding: 2rem;
    text-align: center;
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.btn[disabled]:hover {
    cursor: not-allowed;
}

/* INDEX SPECIFIC STYLING */
.index-btns {
    width: 100%;
    border: none;
    font-family: belleza;
}

/* HELP SPECIFIC STYLING */
.help-list-title {
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.help-list {
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 2rem auto;
    color: white;
    width: 100%;
}

.help-item {
    margin-bottom: 2rem;
}

#home-btn {
    margin-top: 4rem;
    text-decoration: none;
    width: 28rem;
}

#last-item {
    list-style: none;
}

