/* Author: Matt Nguyen
Course: CPSC332
Assignment: Web Project Deliverable 2
Last Modifed: 11.04.2022 */

/* MAIN CSS */
body {
    --blue: #124e78;
    --orange: #d74e09;
    --red: #6e0e0a;
    --white: #f0f0c9;
    --yellow: #f2bb05;

    background-color: var(--blue);
}

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

h1 {
    font-size: 5.4rem;
    color: var(--white);
    margin-bottom: 4rem;
}

h2 {
    font-size: 4.2rem;
    color: var(--white);
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.center-justify {
    justify-content: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 3.8rem;
    color: var(--white);
    margin-bottom: 1rem;
    background-color: var(--yellow);
    padding: 2rem;
    text-align: center;
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.btn[disabled]:hover {
    cursor: not-allowed;
}